.container {
  background: rgb(241,255,12);
  background: linear-gradient(90deg, rgba(241,255,12,1) 0%, rgba(0,212,255,1) 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}
.label {
  font-size: 5rem;
  font-weight: bold;
  color: #813348;
}
.inputName {
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
}
.inputName:focus {
  outline: none;
  text-align: center;
}
.button {
  border: none;
  color: white;
  background-color: #624f59;
  padding: 1rem;
  width: 20%;
  font-size: 1.5rem;
  border-radius: 12px;
}
.output {
  font-size: 3rem;
  color: white;
}